<%- include('./partials/header.ejs', { title }) %>

<main id="login">
<div class="container-fluid d-flex justify-content-center align-items-center mt-5 vh-100 bg-info-subtle">
  <div class="card" style="width: 20rem">
    <div class="card-body">
      <h5 class="card-title text-center mb-4"><%= title %></h5>
      <form action="/register" method="POST">
        <!-- Email input -->
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="Enter your email"
            name="username"
          />
        </div>
        <!-- Password input -->
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Enter your password"
            name="password"
          />
        </div>

                <div class="mb-3">
          <label for="confirm-password" class="form-label">Confirm Password</label>
          <input
            type="password"
            class="form-control"
            id="confirm-password"
            placeholder="Confirm your password"
            name="confirm-password"
          />
        </div>
        <!-- Login button -->
        <button type="submit" class="btn btn-primary w-100">Sign Up</button>
      </form>
    </div>
  </div>
</div>
</main>

</body>
</html>