<%- include('./partials/header.ejs', { title }) %>

    <h1><%= title %></h1>
    <div class="container">
        <div class="d-flex p-5 flex-wrap justify-content-evenly">
    
                <% trucks.map(truck => { %>
                    <%- include('./components/truck.ejs', { truck })  %>
                <% }) %>
        </div>
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
    
<%- include('./partials/footer.ejs') %>